#encrypted with ansible-vault and then copied onto vm
GITHUB_TOKEN=<aToken>
GITHUB_REPOSITORY=<a repository>
THRESHOLD=<a threshold in days>
SLACK_CHANNEL=<a slack channel>
SLACK_TOKEN=<a slack token>
SLEEP_INTERVAL=<a sleep interval in sec>
